fastapi
uvicorn[standard]
sqlalchemy
sqlalchemy[asyncio]
aiomysql
pydantic
pydantic-settings 
python-dotenv 
pymysql
cryptography
alembic
bcrypt
python-jose[cryptography]
email-validator
slowapi
prometheus-fastapi-instrumentator
redis